<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Ultimate Salon Full App Flutter
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2022-present initappz.
 -->
<div class="container">
  <div class="my-5">
    <h1 class="h5 ff-bold f-primary text-center">{{util.translate('Top Products')}}</h1>
    <h1 class="h4-responsive ff-bold text-center">{{util.translate('We Providing Best Quality Products')}}</h1>
  </div>

  <div class="row">
    <div class="col-6 col-md-4 col-lg-3 my-2 px-2" *ngFor="let item of productList;let i = index">
      <div class="px-0 rounded overflow-hidden shadow-sm animate border">
        <a class="text-dark">
          <div class="product-list text-center pb-3">
            <div (click)="onProductDetail(item.id)"
              [ngStyle]="{'background-image': 'url('+ api.mediaURL + item.cover +'),url(assets/images/placeholder.png)'}"
              class="bg-img mb-3 "></div>
            <h6 class="text-black ff-medium px-2 text-overflow head-text" (click)="onProductDetail(item.id)">
              {{item.name}}</h6>

            <div class="d-flex justify-content-center align-item-center mb-2" (click)="onProductDetail(item.id)">
              <mdb-icon fas icon="star" size="sm" [ngStyle]="{color: item.rating >= 1 ? 'orange':'grey'}">
              </mdb-icon>
              <mdb-icon fas icon="star" size="sm" [ngStyle]="{color: item.rating >= 2 ? 'orange':'grey'}">
              </mdb-icon>
              <mdb-icon fas icon="star" size="sm" [ngStyle]="{color: item.rating >= 3 ? 'orange':'grey'}">
              </mdb-icon>
              <mdb-icon fas icon="star" size="sm" [ngStyle]="{color: item.rating >= 4 ? 'orange':'grey'}">
              </mdb-icon>
              <mdb-icon fas icon="star" size="sm" [ngStyle]="{color: item.rating >= 5 ? 'orange':'grey'}">
              </mdb-icon>
              <h6 class="text-muted ff-medium pl-2 rf-6 m-0 rf-lg-1">{{item.total_rating}}</h6>
            </div>
            <div class="d-flex justify-content-center align-items-center mx-3" (click)="onProductDetail(item.id)">

              <h6 class="h6 mb-0 small pr-3 text-muted">
                <del>
                  <span *ngIf="util.currencySide == 'left'"> {{util.currencySymbol}}
                    {{item.original_price}} </span>
                  <span *ngIf="util.currencySide == 'right'"> {{item.original_price}}
                    {{util.currencySymbol}} </span>
                </del>
              </h6>

              <h6 class="f-primary mb-0">
                <span class="ff-bold head-text" *ngIf="util.currencySide == 'left'">
                  {{util.currencySymbol}}
                  {{item.sell_price}} </span>
                <span class="ff-bold head-text" *ngIf="util.currencySide == 'right'">
                  {{item.sell_price}}
                  {{util.currencySymbol}} </span>
              </h6>
            </div>

            <button type="button" mdbBtn (click)="addToCart(i)" *ngIf="item.quantity == 0"
              class="rounded text-white m-0 mt-2 py-2 px-3 btn-color" mdbWavesEffect>{{util.translate('ADD')}}</button>

            <div class="qty_flex my-2" *ngIf="productCart.itemId.includes(item.id)">
              <div class="round_btn" (click)="remove(i)">
                <mdb-icon fas icon="minus"></mdb-icon>
              </div>
              <h6 class="m-0 ff-medium px-2">{{item.quantity}}</h6>
              <div class="round_btn" (click)="add(i)">
                <mdb-icon fas icon="plus"></mdb-icon>
              </div>
            </div>

          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="apiCalled == false" class="container">
  <ngx-skeleton-loader appearance="line" [theme]="{  height: '20px',width:'150px'}">
  </ngx-skeleton-loader>

  <div class="flexed">
    <div *ngFor="let item of  [1,2,3,4,5,6,7,8,9,10];">
      <ngx-skeleton-loader appearance="circle" [theme]="{ 'border-radius': '5px', height: '120px',width:'180px'}">
      </ngx-skeleton-loader>
    </div>
  </div>

  <ngx-skeleton-loader appearance="line" [theme]="{  height: '20px',width:'150px'}">
  </ngx-skeleton-loader>

  <div class="flexed">
    <div *ngFor="let item of  [1,2,3,4,5,6,7,8,9,10];">
      <ngx-skeleton-loader appearance="circle" [theme]="{ 'border-radius': '50%', height: '120px',width:'120px'}">
      </ngx-skeleton-loader>
    </div>
  </div>

  <ngx-skeleton-loader appearance="line" [theme]="{  height: '20px',width:'150px'}">
  </ngx-skeleton-loader>

  <div class="col-12 normalClass">

    <div class="filters">
      <label>
        <ngx-skeleton-loader appearance="line" [theme]="{  height: '20px',width:'70px'}"> </ngx-skeleton-loader>
      </label>
      <label>
        <ngx-skeleton-loader appearance="line" [theme]="{  height: '20px',width:'70px'}"> </ngx-skeleton-loader>
      </label>
      <label>
        <ngx-skeleton-loader appearance="line" [theme]="{  height: '20px',width:'70px'}"> </ngx-skeleton-loader>
      </label>
      <label>
        <ngx-skeleton-loader appearance="line" [theme]="{  height: '20px',width:'70px'}"> </ngx-skeleton-loader>
      </label>
      <label>
        <ngx-skeleton-loader appearance="line" [theme]="{  height: '20px',width:'70px'}"> </ngx-skeleton-loader>
      </label>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="row product_div">
      <div class="pro_col col-lg-4 col-sm-12 col-md-6 col-xs-12" *ngFor="let item of [1,2,3,5,6]">
        <ngx-skeleton-loader appearance="circle" [theme]="{ 'border-radius': '5px', height: '150px',width:'100%'}">
        </ngx-skeleton-loader>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="no_data" *ngIf="haveData ==false">
    <div class="empty" [ngStyle]="{'background-image':'url(assets/nodata.jpg)'}"></div>
    <p> {{util.translate('Opps.. nothing found near')}} {{getAddressName()}}</p>
  </div>
</div>
