/*
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Ultimate Salon Full App Flutter
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2022-present initappz.
*/
.main_header {
  position: fixed;
  width: 100%;
  background: white;
  z-index: 99999;
  padding: 10px 0px;

  .header_items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .brand_items {
      .logo_img {
        width: 25px;
        height: 25px;
        transition: all 0.2s ease-in-out;
      }

      .state_lbl {
        font-size: 12px;
      }
    }
  }
}
